<div class="dialog-header-block">
    <app-priority [priority]="priority"></app-priority>
    <h2 class="bold-font dialog-title">{{title}}</h2>
</div>

<mat-dialog-content class="dialog-content-block">
    <div class="dialog-info-row">
        <div class="title">
            <span>Wann</span>
        </div>
        <div class="info regular-font">
            <span id="date-detail">{{date}}</span>
            <span id="time-detail">{{time}}</span>
        </div>
    </div>

    <div class="dialog-info-row">
        <div class="title">
            <span>Wo</span>
        </div>
        <div class="info regular-font">
            <span id="address-detail">{{address}},</span>
            <span id="zipcode-detail">{{zipcode}}</span>
            <span id="city-detail">{{city}}</span>
        </div>
    </div>
    
    <div class="dialog-info-row">
        <div class="title">
            <span>Arzt</span>
        </div>
        <div class="info regular-font">
            <span id="doctor-detail">Dr. {{doctorName}}</span><br>
            <span *ngIf="doctorsPhoneNumber" id="telephone-detail">Rufnummer: {{doctorsPhoneNumber}}</span>
        </div>
    </div>

    <div class="dialog-info-row">
        <div class="title">
            <span>Notizen</span>
        </div>
        <div class="info regular-font">
            <span *ngIf="note" class="italic-font">{{note}}</span>
            <span *ngIf="!note" class="italic-font">keine</span>
        </div>
    </div>

    <div class="dialog-buttons-block">
        <button 
            class="bold-font appearance-animation-fast"
            mat-button
            id="edit-button"
            (click)="activateEditMode()"
            >Bearbeiten</button>
        <button 
            class="bold-font appearance-animation-fast"
            mat-button
            (click)="closeDialog()"
            id="ok-button"
            >Ok</button>
    </div>
</mat-dialog-content>

