@import './colors.scss';
@import './fonts.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$shape-border-radius: 24px;
$button-border-radius: 18px;

@keyframes appearance {
    from {opacity: 0;}
    to {opacity: 1;}
}

.appearance-animation {
    animation-name: appearance;
    animation-duration: 1s;
}

.appearance-animation-very-slow {
    animation-name: appearance;
    animation-duration: 1.75s;
}

.appearance-animation-less-slow {
    animation-name: appearance;
    animation-duration: 1.25s;
}

.appearance-animation-slow {
    animation-name: appearance;
    animation-duration: 1.5s;
}

.appearance-animation-very-fast {
    animation-name: appearance;
    animation-duration: .25s;
}

.appearance-animation-fast {
    animation-name: appearance;
    animation-duration: .5s;
}

.appearance-animation-less-fast {
    animation-name: appearance;
    animation-duration: .75s;
}

.regular-font {
    font-family: QuattrocentoSans-Regular;
}

.italic-font {
    font-family: QuattrocentoSans-Italic;
}

.bold-font {
    font-family: QuattrocentoSans-Bold;
}

.bold-italic-font {
    font-family: QuattrocentoSans-BoldItalic;
}

.base-shadow {
    box-shadow: 0 0 4px 2px rgba(180, 180, 180, 0.3);
}

.bottom-shadow {
    box-shadow: 0 4px 4px -2px rgba(149, 149, 149, 0.4);
}

.primary-background {
    background-color: rgba($color: map-get($custom-colors, primary), $alpha: 1.0);
    color: map-get($contrast-colors, primary);
}

.primary-border {
    border: 2px solid rgba($color: map-get($custom-colors, primary), $alpha: .8);
}

.primary-dark-background {
    background-color: rgba($color: map-get($custom-colors, primary-dark), $alpha: 1.0);
    color: map-get($contrast-colors, primary-dark);
}

.secondary-border {
    border: 2px solid rgba($color: map-get($custom-colors, secondary), $alpha: .8);
}

.secondary-background {
    background-color: rgba($color: map-get($custom-colors, secondary), $alpha: 1.0);
    color: map-get($contrast-colors, secondary);
}

.primary-button {
    border: 2px solid rgba($color: map-get($custom-colors, primary), $alpha: 1);
    background-color: rgba($color: map-get($custom-colors, primary), $alpha: 1);
    color: map-get($contrast-colors, primary);
}

.primary-button:hover {
    border: 2px solid rgba($color: map-get($custom-colors, primary-dark), $alpha: 1);
    background-color: rgba($color: map-get($custom-colors, primary-dark), $alpha: 1);
    color: map-get($contrast-colors, primary-dark);
}

.secondary-button {
    border: 2px solid rgba($color: map-get($custom-colors, secondary), $alpha: 1);
    background-color: rgba($color: map-get($custom-colors, secondary), $alpha: 1);
    color: map-get($contrast-colors, secondary);
}

.secondary-button:hover {
    border: 2px solid rgba($color: map-get($custom-colors, secondary-dark), $alpha: 1);
    background-color: rgba($color: map-get($custom-colors, secondary-dark), $alpha: 1);
    color: map-get($contrast-colors, secondary-dark);
}

.card-shape {
    border-radius: 0 $shape-border-radius 0 0;
}

.base-button-shape {
    border-radius: $button-border-radius;
    transition: .8s;
    cursor: pointer;

    box-shadow: 0 0 4px 2px rgba(180, 180, 180, 0.3);
}

.base-button-shape:hover {
    border-radius: 0 $button-border-radius 0 $button-border-radius;
    transition: .8s;
}

.base-button {
    padding: .6em;
    font-size: 1.2em;
    font-family: QuattrocentoSans-Regular;
}

.appointment-dialog .mat-dialog-container {
    border-radius: $shape-border-radius;
    background: rgba($color: map-get($custom-colors, primary-dark), $alpha: 1);
    color: rgba($color: map-get($contrast-colors, primary-dark), $alpha: .8);

    padding-bottom: 0;
}

// Small devices (landscape phones, 576px and up)
@media screen and (max-width: 576px) {
    .appointment-dialog .mat-dialog-container {
        // border-radius: 0;
    }
}
