@import 'src/colors.scss';
@import 'src/styles.scss';

@media screen and (max-width: 576px) {
    .main-block {
        width: 20em;
    }

    .detail-button button {
        bottom: 2em;
        right: -2em;
    }
}

// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 576px) {
    .main-block {
        width: 25em;
    }

    .detail-button button {
        bottom: 2em;
        right: -2em;
    }
}

// Medium devices (tablets, 768px and up)
@media screen and  (min-width: 768px) {
    .main-block {
        width: 30em;
    }

    .detail-button button {
        bottom: 2em;
        right: -1.5em;
    }
}

// Large devices (desktops, 992px and up)
@media screen and  (min-width: 992px) {
    .main-block {
        width: 35em;
    }

    .detail-button button {
        bottom: 2em;
        right: -1em;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media screen and  (min-width: 1200px) {
    .main-block {
        width: 40em;
    }

    .detail-button button {
        bottom: 2em;
        right: -0.6em;
    }
}

.main-block {
    margin-top: 1em;
}

.card-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 90%;

    padding: 1em;
}

.pri-datetime-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.datetime-block span {
    margin-left: 0.5em;
    font-size: 1em;
}

.doctor-block {
    padding: .5em 1em;
    margin-top: .5em;
    font-size: 1.1em;
}

.appointment-name-block {
    margin-top: 0.5em;
    font-size: 1.2em;
}

.card-block div span {
    text-align: center;
}

.detail-button {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    padding-top: 0.5em;
}

.detail-button button {
    position: relative;
}


/*****************/
/* Dialog styles */

.dialog-header-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 1.5em;
}

.dialog-title {
    font-size: 1.6em;
    margin-top: .5em;
}

.dialog-content-block {
    border-radius: ($shape-border-radius * .8) ($shape-border-radius * .8) 0 0;

    background-color: white;
    color: rgba($color: map-get($contrast-colors, primary), $alpha: .8);

    padding: 24px;
}

.dialog-content-block::-webkit-scrollbar { width: 0 !important }

.dialog-info-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    margin-top: 1.5em;
}

.dialog-info-row .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 1.3em;
}

.dialog-info-row .title button {
    margin-left: .5em;
}

.dialog-info-row .title button mat-icon {
    transform: scale(.9);
}

.dialog-info-row .info {
    margin-top: .5em;
    font-size: 1.1em;
}

.dialog-info-row .info span {
    margin-right: 1em;
}

.dialog-buttons-block {
    margin-top: 2em;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;

    width: 100%;

    color: rgba($color: map-get($contrast-colors, primary), $alpha: 1);
}