mat-toolbar {
    z-index: 100;
    position: fixed;
    top: 0;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.header-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    position: fixed;
    top: 5em;

    width: 100%;

    padding: 1em;

    z-index: 100;
}

.title {
    margin-top: 1em;
    font-size: 1.5em;
}

.subtitle {
    margin: 1em 0;
    font-size: 1.2em;
}