

<div class="main-block">
    <div *ngFor="let appointment of appointments">
        <app-appointment-card-component
            [appointment]="appointment"
        ></app-appointment-card-component>
    </div>

    <div class="bottom-shadow tip-text-block appearance-animation" *ngIf="appointments.length === 0 && !isFilterEmpty">
        <span class="bold-font">Keine Termine gefunden</span>
        <button mat-flat-button color="accent" class="bold-font" (click)="dropFilter()">
            Filter löschen
        </button>
    </div>

    <div class="bottom-shadow tip-text-block appearance-animation" *ngIf="appointments.length === 0 && isFilterEmpty">
        <span class="bold-font">Fügen Sie einen Termin hinzu</span>
    </div>
</div>
