.main-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.tip-text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1em;
    font-size: 1.2em;
}

.tip-text-block span {
    cursor:default;
}

.tip-text-block button {
    margin-top: 1em;
}