

<div class="main-block">
    <div class="appointment-list">
        <app-appointment-card-component *ngFor="let appointment of appointments"
            [appointment]="appointment"
        ></app-appointment-card-component>
    </div>

    <div class="bottom-shadow tip-text-block appearance-animation" *ngIf="appointments.length === 0 && !isFilterEmpty">
        <span class="bold-font">Keine Termine gefunden</span>
        <button mat-flat-button color="accent" class="bold-font" (click)="dropFilter()">
            Filter löschen
        </button>
    </div>

    <div class="bottom-shadow tip-text-block appearance-animation" *ngIf="appointments.length === 0 && isFilterEmpty">
        <span class="bold-font">Fügen Sie einen Termin hinzu</span>
    </div>

    <button mat-fab color="accent" class="add-fab-button" (click)="addNewAppointment()">
        <mat-icon>add</mat-icon>
    </button>
</div>
