@font-face {
    font-family: QuattrocentoSans-Bold;
    src: url('assets/Fonts/QuattrocentoSans/QuattrocentoSans-Bold.ttf');
}

@font-face {
    font-family: QuattrocentoSans-BoldItalic;
    src: url('assets/Fonts/QuattrocentoSans/QuattrocentoSans-BoldItalic.ttf');
}

@font-face {
    font-family: QuattrocentoSans-Italic;
    src: url('assets/Fonts/QuattrocentoSans/QuattrocentoSans-Italic.ttf');
}

@font-face {
    font-family: QuattrocentoSans-Regular;
    src: url('assets/Fonts/QuattrocentoSans/QuattrocentoSans-Regular.ttf');
}