<div class="option-block">
    <div class="title regular-font">
        Tags
    </div>
    <form class="picker-form">
        <mat-form-field class="picker-form-field">
            <mat-label>Tag</mat-label>
            <mat-chip-list #chipList>
                <mat-chip
                  *ngFor="let tagModel of selectedTags"
                  [removable]="true"
                  (removed)="removeTag(tagModel)"
                  [style.color]="tagModel.color"
                  [style.border-color]="tagModel.color">
                  <mat-icon [style.color]="tagModel.color" class="label-icon">local_offer</mat-icon>
                  {{tagModel.description}}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input type="text"
                    placeholder="Tippen Sie diesen ein"
                    aria-label="Number"
                    matInput
                    [formControl]="tagControl"
                    [matChipInputFor]="chipList"
                    [matAutocomplete]="autoTagss"
                    #inputTag>
            </mat-chip-list>
           
            <mat-autocomplete 
                autoActiveFirstOption #autoTagss
                (optionSelected)="selectedTagFilter($event)">
                <mat-option *ngFor="let option of filteredTagsList | async" [value]="option">
                {{option.description}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</div>
