
<div class="popup-block">
    <div class="header-block">
        <div class="button-close">
            <button>X</button>
        </div>
        <span>Ihr Termin am</span>
        <span>25.05.21</span>
    </div>
    <div class="content-block">
        <div class="info-row">
            <span>Zur:</span>
            <span>Zahnvorsorge</span>
        </div>
        <div class="info-row">
            <span>Bei:</span>
            <span>Dr. Blabla</span>
        </div>
        <div class="info-row">
            <span>...:</span>
            <span>...</span>
        </div>
        <div class="info-row">
            <span>...:</span>
            <span>...</span>
        </div>
        <div class="info-row">
            <span>...:</span>
            <span>...</span>
        </div>

        <div class="button-edit">
            <button>Bearbeiten</button>
        </div>
    </div>
</div>

