<app-header-component (onHeaderHeightInit)="onHeaderHeightInit($event)"></app-header-component>

<!-- To DELETE. Used for test.  -->
<!-- <div class="templates-test">
  <app-appointment-dashboard-component></app-appointment-dashboard-component>
</div> -->

<!-- To DELETE. Used for test.  -->
<!-- <div class="templates-test">
  <app-popup-detail-view-component></app-popup-detail-view-component>
  <app-login-component></app-login-component>
</div> -->

<div class="router-block" #routerBlockDiv>
  <router-outlet></router-outlet>
</div>
