<div class="main-block">

    <!-- Shape form -->
    <div class="register-block base-shadow secondary-border regular-font">
        <div class="register-text-block">
            <mat-icon svgIcon="app-logo"></mat-icon>
            <span class="bold-font">Willkommen bei MedPlanner</span>
            <p>Jetzt registrieren!</p>
        </div>
        
        <!-- register form -->

        <form class="register-form">


            <!--<mat-form-field appearance="outline" required>
                <mat-label>Benutzername</mat-label>
                <input matInput placeholder="Max">
                    <mat-error *ngIf="emailFormControl.invalid">{{emailErrorMessage}}</mat-error>
             </mat-form-field>-->


            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="beispiel@beispiel.de" [formControl]="registerEmailFormControl" required
                #RegEmailValue>
                <mat-error *ngIf="registerEmailFormControl.invalid">{{emailErrorMessage}}</mat-error>
            </mat-form-field>
            



            <mat-form-field appearance="outline"  >
                <mat-label>Passwort</mat-label>
                <input matInput [formControl]="registerPasswordFormControl" required 
                [type]="hidePassword ? 'password' : 'text'">
                
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
        
               <mat-error *ngIf="registerPasswordFormControl.invalid">{{passwordErrorMessage}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline"  >
                <mat-label>Passwort bestätigen</mat-label>
                <input matInput [formControl]="confirmPasswordFormControl" required
                #RegPasswordValue [type]="hidePassword ? 'password' : 'text'">
                
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
        
               <mat-error *ngIf="confirmPasswordFormControl.invalid">{{passwordErrorMessage}}</mat-error>
            </mat-form-field>
        </form>
        
        <!-- Log in block -->
        <div class="log-in-block">
            <span>Du hast schon ein Konto?</span>
            <span (click)="onLogInClick()"  id="log-in-now-text">Zum Log-in</span>
        </div>
        
        <!-- Sign up button -->
        <div class="register-button-block">
            <button mat-raised-button color="primary" id="sing-up-button"
            [disabled]="confirmPasswordFormControl.invalid || registerEmailFormControl.invalid"
            (click)="onSignUpClick(RegEmailValue.value, RegPasswordValue.value)"
            color="primary">
                Registrieren
                <mat-icon matSuffix>accessibility_new</mat-icon>
            </button>
            <mat-spinner diameter="35"></mat-spinner>
        </div>
    </div>
</div>

