
.main-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.password-strength{
    margin-bottom: 1.5em;
}

.register-block {
    margin: 2em;
    border-radius: 24px 24px 0 0;
    padding: 2em;
}

.register-block span {
    margin-right: 0.3em;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.register-text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 1em;

    height: auto;
}

.register-text-block span {
    font-size: 1.5em
}

.register-text-block p{
    font-size: 1.2em
}


.register-text-block mat-icon {
    height: 7em;
    transform: scale(4);
}

.log-in-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 1em;
}

#log-in-now-text {
    color: royalblue;
    text-decoration: underline;

    cursor: pointer;
}

#log-in-now-text:hover {
    opacity: 0.8;
}

.register-button-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}




// Small devices (landscape phones, 576px and up)
@media screen and  (min-width: 576px) {
    .register-block {
        width: 70%;
    }
    
}

// Medium devices (tablets, 768px and up)
@media screen and  (min-width: 768px) {
    .register-block {
        width: 30em;
    }

    
}

// Large devices (desktops, 992px and up)
@media screen and  (min-width: 992px) {
    .register-block {
        width: 30em;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media screen and  (min-width: 1200px) {
    .register-block {
        width: 30em;
    }
}

