@import '../../../../../styles.scss';

.main-block {
    @extend .bold-font;
    display: flex;
    flex-wrap: wrap;
}

.tag {
    padding: .05em .25em;
    color: black;
    opacity: 0.8;

    margin-left: .5em;
    margin-top: .25em;
}