$custom-colors: (
    primary: #3949ab,
    primary-light: #6f74dd,
    primary-dark: #00227b,
    secondary: #004d40,
    secondary-light: #39796b,
    secondary-dark: #00251a,
    contrast: (
        primary: #ffffff,
        primary-light: #ffffff,
        primary-dark: #ffffff,
        secondary: #ffffff,
        secondary-light: #ffffff,
        secondary-dark: #ffffff
    )
);