<div class="main-block">

    <!-- Shape form -->
    <div class="login-block base-shadow primary-border regular-font">
        <div class="sing-in-text-block">
            <mat-icon svgIcon="app-logo"></mat-icon>
            <span class="bold-font">Anmelden</span>
        </div>
        
        <!-- Login form -->
        <form class="login-form">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="beispiel@beispiel.de" [formControl]="emailFormControl" required
                #emailValue>
                <mat-error *ngIf="emailFormControl.invalid">{{emailErrorMessage}}</mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                <mat-label>Passwort</mat-label>
                <input matInput [formControl]="passwordFormControl" required
                #passwordValue
                [type]="hidePassword ? 'password' : 'text'">
                
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
        
                <mat-error *ngIf="passwordFormControl.invalid">{{passwordErrorMessage}}</mat-error>
            </mat-form-field>
            <!-- TODO add to registration when merged-->
            <!-- Password Strength -->     
            <div>
                <mat-password-strength
                    #passwordComponent
                    [password]="passwordValue.value"
                    [enableLengthRule]="true"
                    [enableDigitRule]="true"
                    [enableLowerCaseLetterRule]="true"
                    [enableUpperCaseLetterRule]="true"
                    [enableSpecialCharRule]="true"
                >
                </mat-password-strength>

                <!-- Customizable information content -->
                <mat-password-strength-info
                    [passwordComponent]="passwordComponent"
                    [lowerCaseCriteriaMsg]="'enthält mindestens einen Kleinbuchstaben'"
                    [upperCaseCriteriaMsg]="'enthält mindestens einen Großbuchstaben'"
                    [digitsCriteriaMsg]="'enthält mindestens eine Ziffer'"
                    [minCharsCriteriaMsg]="'enthält mindestens 8 Zeichen'"
                    [specialCharsCriteriaMsg]="'enthält mindestens ein Sonderzeichen'"
                >
                </mat-password-strength-info>
            </div>       
        </form>
        
        
        <!-- Sign up block -->
        <div class="sing-up-block">
            <span>Kein Konto?</span>
            <span (click)="onSignUpClick()" id="sing-up-now-text">Jetzt registrieren</span>
        </div>
        
        <!-- Login button -->
        <div class="login-button-block">
            <button mat-raised-button color="primary" id="sing-in-button" *ngIf="!isLoading"
            [disabled]="passwordFormControl.invalid || emailFormControl.invalid"
            (click)="onLogInClick(emailValue.value, passwordValue.value)"
            color="accent">
                Einloggen
                <mat-icon matSuffix>login</mat-icon>
            </button>
            <mat-spinner diameter="35" *ngIf="isLoading"></mat-spinner>
        </div>
    </div>
</div>





