<div class="main-block">
    <div class="sing-in-text-block">
        <span>Anmelden</span>
    </div>
    
    
    <form class="login-form">
        <mat-form-field appearance="outline">
            <mat-label>Benutzername</mat-label>
            <input matInput placeholder="beispiel@beispiel.de" [formControl]="emailFormControl" required>
            <mat-error *ngIf="emailFormControl.invalid">{{emailErrorMessage}}</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Passwort</mat-label>
            <input matInput [formControl]="passwordFormControl" required 
            [type]="hidePassword ? 'password' : 'text'">
            
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
    
            <mat-error *ngIf="passwordFormControl.invalid">{{passwordErrorMessage}}</mat-error>
        </mat-form-field>
    </form>
    
    <div class="sing-up-block">
        <span>Kein Konto?</span>
        <span (click)="onSignUpClick()" id="sing-up-now-text">Jetzt registrieren</span>
    </div>
    
    <div class="sign-up-button-block">
        <button mat-raised-button color="primary"
        [disabled]="passwordFormControl.invalid || emailFormControl.invalid">
            Einloggen
            <mat-icon matSuffix>login</mat-icon>
        </button>
    </div>
</div>



