.main-block {
    border: 2px solid rgba($color: #3949ab, $alpha: 1.0);
    border-radius: 8px;

    padding: 2em;
}

.sing-in-text-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 1em;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.sing-up-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 1em;
}

.sing-up-block span {
    margin-left: 0.5em;
}

#sing-up-now-text {
    color: royalblue;
    text-decoration: underline;

    cursor: pointer;
}

#sing-up-now-text:hover {
    opacity: 0.8;
}

.sign-up-button-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}