<mat-toolbar class="primary-dark-background" (window:resize)="onWindowResize()" #toolbarElement>
    <!-- App title -->
    <span class="bold-font">MedPlanner</span>

    <span class="toolbar-spacer"></span>

    <!-- Switcher between Appointments/Doctors -->
    <button mat-icon-button *ngIf="isLoggedIn" (click)="switchAppointmentDoctors()">
        <mat-icon [svgIcon]="getIcon" class="dashboards-menu-icon"></mat-icon>
    </button>





    <!-- Filter -->
    <button mat-icon-button *ngIf="isLoggedIn" (click)="onFilterClick()">
        <mat-icon class="dashboards-menu-icon">filter_alt</mat-icon>
    </button>

    <!-- Logout icon button -->
    <button mat-icon-button *ngIf="isLoggedIn" (click)="logout()">
        <mat-icon>
            logout
        </mat-icon>
    </button>
    
</mat-toolbar>

<!-- App header -->
<div class="header-block bottom-shadow primary-background" #headerElement>
    <span class="title regular-font">{{headerTitle}}</span>
    <span class="subtitle italic-font">{{headerSubTitle}}</span>
</div>









