.main-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-block {
    margin: 2em;
    border-radius: 24px 24px 0 0;
    padding: 2em;
}

.sing-in-text-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 1em;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.sing-up-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 1em;
}

.sing-up-block span {
    margin-left: 0.5em;
}

#sing-up-now-text {
    color: royalblue;
    text-decoration: underline;

    cursor: pointer;
}

#sing-up-now-text:hover {
    opacity: 0.8;
}

.login-button-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

// Small devices (landscape phones, 576px and up)
@media screen and  (min-width: 576px) {
    .login-block {
        width: 70%;
    }
}

// Medium devices (tablets, 768px and up)
@media screen and  (min-width: 768px) {
    .login-block {
        width: 30em;
    }
}

// Large devices (desktops, 992px and up)
@media screen and  (min-width: 992px) {
    .login-block {
        width: 30em;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media screen and  (min-width: 1200px) {
    .login-block {
        width: 30em;
    }
}